extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let nespressoid = toShow._id
    - let nespresso_type = toShow.nespresso_type
    - let country = toShow.country
    - let price = toShow.price
    - let actionid = "/resource/resource/nespressos/" + nespressoid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='nespressoAttr mr-3') nespresso ID is:
        div #{nespressoid}
      div.row
        div(class='nespressoAttr mr-3') nespresso_type is:
        div #{nespresso_type}
      div.row
        div(class='nespressoAttr mr-3') country  is:
        div #{country}
      div.row
        div(class='nespressoAttr mr-3') price  is:
        div #{price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the nespresso collection
      window.country.href='/nespresso'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.country.href='/nespresso'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
